.placeholder, .non-blurry-wrapper, .image {
    display: inline-block;
    height: 50vw;
    width: 50vw;
}

.non-blurry-wrapper, .image {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.blur-test, .non-blurry-image, .image {
    & img {
        object-fit: cover;
    }
}
