{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["lib.es5.d.ts"],
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "object-curly-newline": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "_|__",
        "varsIgnorePattern": "_|__",
        "caughtErrorsIgnorePattern": "_|__"
      }
    ],
    "operator-linebreak": ["off"],
    "multiline-ternary": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": ["error", 4, {
      "SwitchCase": 1,
      "ignoredNodes": ["TemplateLiteral *"]
    }],
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
