{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "multiline-ternary": ["off"],
    "operator-linebreak": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-closing-tag-location": "off",
    "object-curly-newline": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 1
      }
    ],
    "no-undef": "off",
    "indent": ["error", 4, { "ignoredNodes": ["TemplateLiteral *"] }],
    "comma-dangle": "off",
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }]
  }
}
